= stylesheet_link_tag "articleComments", media: :all
.wrapper
  .showMain
    .content
      .article
        .article__header
          .article__header__image
            = image_tag @article.urlToImage.to_s, id: "article"
          .article__header__title{data: {article: {id: @article.id}}}
            = link_to @article.title.to_s, @article.url, target: :_blank
        .article__detail
          .article__detail__publishedAt
            = @article.publishedAt
          .article__detail__author
            = @article.author
        .article__description
          = @article.description
      .comments
        - if @comments.present?
          - @comments.zip(@comments.ids) do |c, id|
          - myEvaluation = myEvaluation(@article.id, id)
            .comment{data: {comment: {id: id}}}
              .comment__detail
                .comment__index{data: {index: c.index}}
                  = "#{c.index}" + ":"
                .comment__detail__nickname
                  = c.user.nickname
                .comment__detail__date
                  = time_setting(c.created_at)
              .comment__text{data: {index: c.index}}
                = c.text
              .comment__evaluation
                .comment__evaluation__form
                  - if myEvaluation != "good"
                    = form_with url: good_evaluations_path, class: "evaluation_form_good", local: true do |f|
                      = f.hidden_field :article_id, value: @article.id
                      = f.hidden_field :comment_id, value: id
                      = button_tag type: 'submit', class: "good_btn", disabled: (myEvaluation == "bad") do
                        %i.fas.fa-thumbs-up
                          %span.count_good
                            = counting_evaluation(@article.id, id, "good")
                  - else
                    = form_with url: canceling_good_evaluations_path, class: "evaluation_form_canceling_good", local: true do |f|
                      = f.hidden_field :article_id, value: @article.id
                      = f.hidden_field :comment_id, value: id
                      = button_tag type: 'submit', class: "canceling_good_btn" do
                        %i.fas.fa-thumbs-up
                          %span.count_good
                            = counting_evaluation(@article.id, id, "good")
                .comment__evaluation__form
                  - if myEvaluation != "bad"
                    = form_with url: bad_evaluations_path, class: "evaluation_form_bad", local: true do |f|
                      = f.hidden_field :article_id, value: @article.id
                      = f.hidden_field :comment_id, value: id
                      = button_tag type: 'submit', class: "bad_btn", disabled: (myEvaluation == "good") do
                        %i.fas.fa-thumbs-down
                          %span.count_bad
                            = counting_evaluation(@article.id, id, "bad")
                  - else
                    = form_with url: canceling_bad_evaluations_path, class: "evaluation_form_canceling_bad", local: true do |f|
                      = f.hidden_field :article_id, value: @article.id
                      = f.hidden_field :comment_id, value: id
                      = button_tag type: 'submit', class: "canceling_bad_btn" do
                        %i.fas.fa-thumbs-down
                          %span.count_bad
                            = counting_evaluation(@article.id, id, "bad")
              .comment__reply#hide
                .comment__reply__btn
                  .comment__reply__text
                    返信
                  .comment__reply__count{data: {index: c.index}}
                    = replyCount(id)
                .comment__reply__content{data: {index: c.index}}
                  - if getReplies(id).present?
                    - getReplies(id).each do |c|
                    - myEvaluation = myEvaluation(@article.id, c.id)
                      .comment{data: {comment: {id: id}}}
                        .comment__detail
                          .comment__index{data: {index: c.index}}
                            = "#{c.index}" + ":"
                          .comment__detail__nickname
                            = c.user.nickname
                          .comment__detail__date
                            = time_setting(c.created_at)
                        .comment__text{data: {index: c.index}}
                          = c.text
                        .comment__evaluation
                          .comment__evaluation__form
                            - if myEvaluation != "good"
                              = form_with url: good_evaluations_path, class: "evaluation_form_good", local: true do |f|
                                = f.hidden_field :article_id, value: @article.id
                                = f.hidden_field :comment_id, value: c.id
                                = button_tag type: 'submit', class: "good_btn", disabled: (myEvaluation == "bad") do
                                  %i.fas.fa-thumbs-up
                                    %span.count_good
                                      = counting_evaluation(@article.id, id, "good")
                            - else
                              = form_with url: canceling_good_evaluations_path, class: "evaluation_form_canceling_good", local: true do |f|
                                = f.hidden_field :article_id, value: @article.id
                                = f.hidden_field :comment_id, value: c.id
                                = button_tag type: 'submit', class: "canceling_good_btn" do
                                  %i.fas.fa-thumbs-up
                                    %span.count_good
                                      = counting_evaluation(@article.id, c.id, "good")
                          .comment__evaluation__form
                            - if myEvaluation != "bad"
                              = form_with url: bad_evaluations_path, class: "evaluation_form_bad", local: true do |f|
                                = f.hidden_field :article_id, value: @article.id
                                = f.hidden_field :comment_id, value: c.id
                                = button_tag type: 'submit', class: "bad_btn", disabled: (myEvaluation == "good") do
                                  %i.fas.fa-thumbs-down
                                    %span.count_bad
                                      = counting_evaluation(@article.id, c.id, "bad")
                            - else
                              = form_with url: canceling_bad_evaluations_path, class: "evaluation_form_canceling_bad", local: true do |f|
                                = f.hidden_field :article_id, value: @article.id
                                = f.hidden_field :comment_id, value: c.id
                                = button_tag type: 'submit', class: "canceling_bad_btn" do
                                  %i.fas.fa-thumbs-down
                                    %span.count_bad
                                      = counting_evaluation(@article.id, c.id, "bad")
        .new_comment

      = form_with model:[@article, @article_comments], local: true, class: "comment__form", id: "new_article_comment" do |f|
        = f.text_area :text, placeholder: "コメントを入力してください", class: "text_area", cols: "60", rows: "8", maxlength: "500", autofocus: true
        = f.submit "投稿する", class: "submit_comment"