- @groups.each do |group|
  = link_to "#{group.title}", group_path(group.id)
  = group.user.nickname

新規スレッド作成
= form_with model: @group do |f|
  = f.text_field :title, placeholder: 'お題'
  = f.text_area :text, placeholder: 'コメント（任意）'
  = f.fields_for :comments do |c|
    = c.text_field :text, placeholder: '出題者の回答'
  = f.fields_for :group_images do |i|
    = i.file_field :src
  = f.submit '送信する'