= @group.title
= @group.text if @group.text.present?
= @group.user.nickname
= @comments.first.text
- @group.group_images.each do |i|
  = image_tag i.src.to_s

- @comments.zip(@comments.ids) do |comment, id|
  = comment.text
  = form_with model: @favorite, local: true, id: "vote" do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :comment_id, value: id
    = f.submit "投票する", class: "submit_vote"
.comments

= form_with model: @comment, local: true, id: "new_comment" do |f|
  = f.text_area :text, placeholder: "テキストを入力してください", class: "textarea"
  = f.hidden_field :id, value: params[:id].to_s
  = f.submit "送信", class: "submit"