= @group.title
= @group.user.nickname
= @comments.first.text
- @group.group_images.each do |i|
  = image_tag i.src.to_s
- @comments.drop(1).each do |c|
  = c.text
.comments

= form_with model: @comment, local: true, id: "new_comment" do |f|
  = f.text_area :text, placeholder: "テキストを入力してください", class: "textarea"
  = f.hidden_field :id, value: params[:id].to_s
  = f.submit "送信", class: "submit"