.groupTitle{data: {group: {id: @group.id}}}
  = @group.title
= @group.text if @group.text.present?
= @group.user.nickname
- @group.group_images.each do |i|
  = image_tag i.src.to_s

- @comments.zip(@comments.ids) do |comment, id|
  .comment{data: {comment: {id: id}}}
  = comment.text
  = comment.user.nickname
  = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
  = form_with model: @favorite, class: "vote_btn", local: true do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :comment_id, value: id
    = f.submit "投票する", class: "submit_vote"
    .vote_count{data: {comment: {id: id}}}
      = comment.favorite.vote if comment.favorite.present?
.comments

= form_with model: @comment, local: true, id: "new_comment" do |f|
  = f.text_area :text, placeholder: "テキストを入力してください", class: "textarea"
  = f.hidden_field :id, value: params[:id].to_s
  = f.submit "送信", class: "submit_comment"